*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0b1220;
padding:18px;
color:#fff;
}

.header{
display:flex;
align-items:center;
background:#1b2435;
padding:15px;
border-radius:18px;
margin-bottom:20px;
box-shadow:0 5px 20px rgba(0,0,0,.3);
}

.owner{
width:70px;
height:70px;
border-radius:50%;
border:3px solid #00ff99;
object-fit:cover;
margin-right:15px;
}

.header h1{
font-size:28px;
color:#00ff99;
margin-bottom:5px;
}

.header p{
color:#ccc;
font-size:15px;
}

.summary{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-bottom:20px;
}

.box{
background:#1b2435;
border-radius:18px;
padding:18px;
text-align:center;
}

.box h3{
font-size:18px;
margin-bottom:10px;
color:#fff;
}

.box h1{
font-size:30px;
color:#00ff99;
}

.operator{
display:flex;
align-items:center;
background:#1b2435;
padding:15px;
border-radius:18px;
margin-bottom:15px;
}

.operator img{
width:55px;
height:55px;
object-fit:contain;
flex-shrink:0;
}

.operator .text{
flex:1;
margin-left:15px;
}

.operator .text h2{
font-size:24px;
color:#fff;
margin-bottom:5px;
}

.operator .text p{
font-size:18px;
font-weight:bold;
color:#00ff99;
}

.operator button{
width:90px;
height:42px;
background:#00d26a;
color:#fff;
border:none;
border-radius:12px;
font-size:17px;
font-weight:bold;
cursor:pointer;
}

.menu{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-top:25px;
}

.menu button{
height:58px;
border:none;
border-radius:14px;
background:#2f66ea;
color:#fff;
font-size:17px;
font-weight:bold;
cursor:pointer;
}

.menu button:active{
transform:scale(.96);
}
