body{

background:#0f172a;
font-family:Arial;
color:white;
padding:20px;

}

.container{

max-width:450px;
margin:auto;

}

h2{

text-align:center;
color:#00ff99;
margin-bottom:20px;

}

input{

width:100%;
padding:14px;
border:none;
border-radius:10px;
font-size:16px;
margin-bottom:20px;

}

.item{

background:#1e293b;
padding:15px;
border-radius:15px;
margin-bottom:12px;
line-height:28px;

}

.profit{

color:#00ff99;
font-weight:bold;

}

.loss{

color:#ff4d4d;
font-weight:bold;

  }
